<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
   
        <title>@ViewData["Title"] - GestaoTarefasIPG</title>

        <!-- Bootstrap core CSS -->
        <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    
        <link href="~/css/freelancer.css" rel="stylesheet">
        <link rel="stylesheet" href="~/css/site.css" />
    
    </head>

    <body id="page-top">
                <!-- Navigation -->
                <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
                    <div class="container">
                        <a class="navbar-brand js-scroll-trigger" asp-area="" asp-controller="Home" asp-action="Index"> Gestão Tarefas IPG</a>
                        <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                            Menu
                            <i class="fas fa-bars"></i>
                        </button>

                        

                            <div class="collapse navbar-collapse" id="navbarResponsive">



                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item mx-0 mx-lg-1">
                                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" asp-area="" asp-controller="Professores" asp-action="Index">Professores</a>
                                    </li>
                                    <li class="nav-item mx-0 mx-lg-1">
                                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" asp-area="" asp-controller="Funcionarios" asp-action="Index">Funcionários</a>
                                    </li>
                                    <li class="nav-item mx-0 mx-lg-1">
                                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" asp-area="" asp-controller="Cargos" asp-action="Index">Cargos</a>
                                    </li>
                                    
                                    
                                    
                                    <li class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                                        <partial name="_LoginPartial" />
                                    </li>
                                </ul>
                            </div>
                        </div>
                </nav>
                        

                <div class="container-fluid p-0">
                    <!-- Portfolio Section-->
                    <section class="page-section portfolio" id="portfolio">

                        <hr class="m-0">

                    </section>
                </div>
                
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
            
                </div>
                <!-- <hr class="m-0"> -->
                            
                <!-- Footer
                <footer class="footer text-center">
                    <div class="container">
                                 
                </footer>
                FIM DE FOOTER-->

                <!--
                <hr class="m-0">
               
                <section class="copyright py-4 text-center text-white">
                    <div class="container">
                        <small>Copyright &copy; Your Website 2019</small>
                    </div>
                </section>
                -->     
                <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
                <div class="scroll-to-top d-lg-none position-fixed ">
                    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
                
        
                <div class="container">
                    &copy; 2020 - Gestão de Tarefas - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
                 
                        
                <environment include="Development">
                    <script src="~/lib/jquery/dist/jquery.js"></script>
                    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
                </environment>
                <environment exclude="Development">
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                            asp-fallback-test="window.jQuery"
                            crossorigin="anonymous"
                            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
                    </script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                            crossorigin="anonymous"
                            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
                    </script>
                </environment>
                <script src="~/js/site.js" asp-append-version="true"></script>

                @RenderSection("Scripts", required: false)
    </body>
</html>
