@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Resume - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/resume.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Clarence Taylor</span>
            <span class="d-none d-lg-block">
                <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/profile.jpg" alt="">
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#Inicio">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#Cargos">Cargos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#Professores">Professores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#funcionarios">Funcionarios</a>
                </li>
                <li

            </ul>
        </div>
    </nav>
    <img src="@Url.Content("~/css/ipg.png")" />

    <div class="container">
        <div class="row">
            <div class="col-lg-auto col-md-auto mx-auto">
                <div class="site-heading">
                    <h1>Instituto Politécnico da Guarda</h1>
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid p-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="Inicio">
            <div class="w-100">
                <h1>Gestão de Tarefas</h1>

            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="Cargos">
            <div class="w-100">
                <h2 class="mb-5">Cargos</h2>

                <a asp-controller="Professores" asp-action="Index" class="btn btn-outline-dark">Professores</a>




            </div>

        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="Professores">
            <div class="w-100">
                <h2 class="mb-5">Professores</h2>

                <a asp-controller="Professores" asp-action="Index" class="btn btn-outline-dark">Funcionarios</a>




            </div>

        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="Funcionarios">
            <div class="w-100">
                <h2 class="mb-5">Funcionarios</h2>

                <a asp-controller="Funcionarios" asp-action="Index" class="btn btn-outline-dark">Funcionarios</a>




            </div>

        </section>



</body>

</html>
